.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color:#feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff1972;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cats1{
    background-color: orange;
}
.cats2{
    background-color:violet
}
.cats3{
    background-color: blue;
}
.cats1, .cats2, .cats3{
    padding: 15px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 110px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}